<!--
	Once a customer has filled in all the details and pressed the submit button,
	they will be redirected to a checkout page to enter their credit card details and complete payment.
-->

<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Accept a card payment</title>
	<meta name="description" content="A demo of a card payment on Stripe" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../css/global.css" />
	<script src="https://js.stripe.com/v3/"></script>
	<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
	<script th:inline="javascript">
		
		var stripePublicKey = [[${stripePublicKey}]];
		var amount = [[${amount}]];
		var email = [[${email}]];
		var featureRequest = [[${featureRequest}]];

	</script>
	
  	<script src = "../js/client.js" defer></script>
 
</head>

<body>
	<!-- Display a payment form -->
	<div class="container">
		<div class="form-card">
			<form id="payment-form">
				<p><b>Credit card details to complete payment</b></p>
				<p>Press the pay now button to complete your payment of <span th:text="${amount}"></span>&nbsp INR.</p>
				<div id="card-element" class="form-control"><!--Stripe.js injects the Card Element--></div>
				<button id="submit" class="btn btn-primary">
					<div class="spinner hidden" id="spinner"></div>
					<span id="button-text">Pay now</span>
				</button>
				<p id="card-error" role="alert"></p>
				<p class="result-message hidden">
					Payment succeeded, see the result in your
					<a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
				</p>
			</form>

		</div>

	</div>
</body>

</html>